{% extends 'base.html' %}

{% block content %}


    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y bg">

        {% include 'includes/alerts.html' %}
        <div class="container">
            <div class="row">

                <main class="col-md-9">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3">Please do not hesitate to contact us </strong>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">Phone Number</th>
                                            <th scope="col">Email address</th>
                                            <th scope="col">Address</th>

                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <td>+879-332-9375</td>
                                            <td>thehikingshop@thehike.com</td>
                                            <td>Street 8, Avenue Streatfield</td>


                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </article>
                </main>
            </div>
        </div>


    </section>

{% endblock %}